@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');


* {
	margin: 0px;
	padding: 0px;
	font-family: Helvetica;
	font-weight: lighter;
	font-size: 20px;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    /* box-sizing: border-box; */
}
body{
	background-color: #F0F0F0;
	/*height: 1570px;*/
}

.error
{
	color:red;
	font-family:verdana, Helvetica;
	font-size: 25px;
}

.chat-textarea{
	margin: 0px;
	/*line-height: 100px;*/
    width: 72%;
    height: 100%;
    resize: none;
    padding-top: 2%;
    padding-left: 2%;
}
.autoSearchForm{
	display: block;
}

.autocomplete-suggestions { 
	border: 1px solid #999; 
	background: #fff; 
	cursor: default; 
	overflow: auto; 
	max-height: 500px; 
	border-radius:10px;
	width: auto !important;
}
.autocomplete-suggestion {
	padding: 10px 5px; 
	font-size: 1.2em; 
	white-space: nowrap; 
}
.autocomplete-selected { 
	background: #f0f0f0; 
}
.autocomplete-suggestions strong { 
	font-weight: normal; 
	color: #3399ff; 
}


a{
	color: white;
}
header{
	height: 10%;
	width: 100%;
	min-height: 100px;
	padding-left: 5%;
	padding-right: 5%;
	background-color: #1DCDA9;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
header h1{
	/*position: absolute;*/
	width: 90%;
	text-align: center;
	font-size: 34px;
	/*margin-right: 80px;*/
}

.content{
	width: 100%;
	background-color: #F0F0F0;
	/*min-height: 970px;*/
}
.container{
	width: 90%;
	margin: auto;
}
.search_bar{
	padding-top: 20px;
	padding-bottom: 20px;
	display: flex;
	justify-content: center;
	align-content: center;	
}
.search_bar .autoSearchForm .ev_srch{	
	/*font-family: sans-serif;*/
	border: 1px solid #000;
	height: 70px;
	padding: 0 10px;
	text-align: center;
	font-size: 28px;
	width: 100%;
	border-radius: 12px 0 0 12px;
}
.search_bar .autoSearchForm .lo_srch{
	border: 1px solid #000;
	text-align: center;
	height: 70px;
	font-size: 28px;
	width: 100%;
}
.search_bar .autoSearchForm .dt_srch{
	border: 1px solid #000;
	text-align: center;
	height: 70px;
	font-size: 28px;
	width: 100%;
}
.search_bar button{
	height: 50px;
	width: 20%;
	color: white;
	font-size: 28px;
	background-color: #1DCDA9;
	border: none;
	border-radius: 0 12px 12px 0;
}
.eve_pan{
	width: 100%;
	height: 700px;
	overflow: auto;
}
.event{
	margin-bottom: 50px;
	width: 98%;
	height: 200px;
	border-radius: 20px;
	background-color: white;
	box-shadow: 5px 5px 5px #888;	
}
.event:hover{
	cursor: pointer;
}
.event img{
	border-radius: 20px 0 0 20px; 
	width: 30%;
	height: 100%;
	float: left;
}
.event .eve_detail{
	margin: 0;
	width: 60%;
	height: 100%;
	float: left;
}
.eve_detail div{
	padding: 0 20px;
	width: 100%;
	height: 80%;
}
.eve_detail h3{
	color: #1DCDA9;
	margin-bottom: 20px;
	font-size: 28px;
}
.eve_detail .time{
	color: #888;
}
.time:hover{
	cursor: pointer;
}
footer{
	width: 100%;
	height: 60px;
}
footer .tablinks{
	width: 50%;
	height: 100%;
	border: none;
	float: left;
	background-color: white;
	border-bottom: 6px solid #fff;
}
footer .active_btn{
	border-bottom: 6px solid #1DCDA9;
	color: #1DCDA9;
}


/*what's on page*/
.tab_header{
	padding-top: 20px;
	padding-bottom: 20px;
	width: 100%;
	height: 100px;
}
.tab_header .tab{
	width: 50%;
	height: 100%;
	border: none;
	color: #1DCDA9;
	float: left;
	font-size: 32px;
	background-color: white;
}
.tab_header .active_tab{
	background-color: #1DCDA9;
	color: white;
}
.table-wrapper{
	width: 100%;
	overflow: auto;
}
.table-wrapper table{
	width: 100%;
}
table thead{
	background-color: #1DCDA9;
	color: white;
}
table td, th{
	width: 33%;
	height: 60px;
	border-collapse: collapse;
	border: 1px solid white;
	text-align: center;
}
table tbody tr {
	border-color: #dddddd;
}

table tbody tr:nth-child(2n) {
	background-color: #fff;
}

/*chatting page*/
header .contact{
	width: 25%;
	display: flex;
	justify-content: space-between;
}
footer .msg_inp{
	width: 100%;
	height: 100%;
}
.chatting_board{
	width: 100%;
	height: 790px;
	overflow: auto;
}
.msg_inp .smile{
	color: #888;
	width: 13%;
	height: 100%;
	float: left;
}
.msg_inp .send{
	width: 15%;
	height: 100%;
	border: none;
	background-color: #1DCDA9;
	color: white;
	/*float: left;*/
	float: right;
}
.msg_inp input{
	width: 72%;
	height: 100%;
	padding-left: 19px;
	border: none;
	float: left;
} 
.msg_pan{
	width: 100%;
	padding: 15px 0;
	resize: vertical;
	overflow: auto;
}
.msg_pan .user_info{
	width: 70px;
	float: left;
	text-align: center;
}
.msg_pan .user_info img{
	width: 70px;
	height: 70px;
	border-radius: 50%;
}
.msg_container{
	width: 60%;
	float: left;
	margin: 0 50px;
}
.testimonial-left {
    width: auto;
    padding: 10px;
    background: white;
    border-radius: 10px;
    display: table;
    position: relative;
	box-shadow: 5px 5px 5px #888;
	word-break: break-all;
}
.testimonial-left p {
	display: table-cell;
	vertical-align: middle;
	padding: 5px 30px;
	white-space: pre-wrap;
}
.testimonial-left:before {
    content: '';
    left: -15px;
    height: 0px;
    width: 0px;
    border-top: 15px solid transparent;
    border-right: 15px solid white;
    border-bottom: 15px solid transparent;
    position: absolute;
}
.testimonial-right {
    width: auto;
    padding: 10px;
    background: #1DCDA9;
    border-radius: 10px;
    display: table;
    position: relative;    
	box-shadow: 5px 5px 5px #888;
	word-break: break-all;
}
.testimonial-right p {
	display: table-cell;
	vertical-align: middle;
	padding: 5px 30px;
	white-space: pre-wrap;
}
.testimonial-right:before {
    content: '';
    right: -15px;
    height: 0px;
    width: 0px;
    border-top: 15px solid transparent;
    border-left: 15px solid #1DCDA9;
    border-bottom: 15px solid transparent;
    position: absolute;
}
.msg_pan .user_right{
	float: right;
}
.time_right{
	display: flex;
	align-items: flex-end;
}

#chat_right{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
/*login page*/
.login_info{
	width: 40%;
	margin: auto;
	height: 800px;
	margin-top: 80px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.login_info form{
	width: 100%;
}
.login_info .title{
	font-size: 80px;
	margin-bottom: 20px;
	color: #1DCDA9;
}

.login_info .dcr{
	font-size: 30px;
}
.login_info form input{
	width: 100%;
	padding: 0 5%;
	border: 1px solid #888;
	margin-top: 50px;
	height: 60px;
}
.login_info .login_btn{
	width: 100%;
	height: 50px;
	margin-top: 30px;
	background-color: #1DCDA9;
	color: white;
}
.login_info .fb_btn{
	width: 100%;
	height: 50px;
	background-color: #3B5999;
	color: white;
}
.login_info span{
	width: 100%;
	height: 50px;
	margin-top: 30px;
	display: flex;
	justify-content: space-between;	
}
.login_info span a{
	text-decoration: none;
	color: black;
}
.red_btn{
	width: 120px;
	height: 120px;
	border-radius: 50%;
	background-color: #DD111C;
	position: absolute;
	display: flex;
    justify-content: center;
    align-items: center;    
	box-shadow: 5px 5px 5px #888;
}
.on_chat{
	top: 700px;
    right: 50px;
}
.on_event{
	top: 750px;
    left: 43%;
    display: none;
}
.on_what{
	/*top: 1420px;*/
    right: 60px;
}
.diplay_tab{
	width: 50%;
	height: 100%;
	float: left;
	display: block;
	border: 5px solid #eee;
}
.fa-long-arrow-left{
	visibility: hidden;
}


@media screen and (max-width: 768px) {
	* {
		margin: 0px;
		padding: 0px;
		font-family: Helvetica;
		font-weight: lighter;
		font-size: 20px;
		-webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    /* box-sizing: border-box; */
	}
	.chat-textarea{
		margin: 0px;
	    width: 72%;
	    height: 100%;
	    resize: none;
	    padding-top: 2%;
	    padding-left: 2%;
	}
	.autoSearchForm{
		display: block;
	}

	.autocomplete-suggestions { 
		border: 1px solid #999; 
		background: #fff; 
		cursor: default; 
		overflow: auto; 
		max-height: 500px; 
		border-radius:10px;
		width: auto !important;
	}
	.autocomplete-suggestion {
		padding: 10px 5px; 
		font-size: 1.2em; 
		white-space: nowrap; 
	}
	.autocomplete-selected { 
		background: #f0f0f0; 
	}
	.autocomplete-suggestions strong { 
		font-weight: normal; 
		color: #3399ff; 
	}
	.on_event{
		top: 860px;
	    left: 43%;
	    display: none;
	}

	
	a{
		color: white;
	}
	header{
		height: 100px;
		width: 100%;
		min-height: 100px;
		padding-left: 5%;
		padding-right: 5%;
		background-color: #1DCDA9;
		color: white;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	header h1{
		width: 90%;
		text-align: center;
		font-size: 28px;
	}

	.content{
		width: 100%;
		background-color: #F0F0F0;
	}
	.container{
		width: 90%;
		margin: auto;
		/*height: 1220px;*/
		overflow: auto;
	}
	.search_bar{
		padding-top: 25px;
		padding-bottom: 25px;
		display: flex;
		justify-content: center;
		align-content: center;	
	}
	.search_bar .autoSearchForm .ev_srch{	
		/*font-family: sans-serif;*/
		border: 1px solid #000;
		height: 70px;
		padding: 0 10px;
		text-align: center;
		font-size: 28px;
		width: 100%;
		border-radius: 12px 0 0 12px;
	}
	.search_bar .autoSearchForm .lo_srch{
		border: 1px solid #000;
		text-align: center;
		height: 70px;
		font-size: 28px;
		width: 100%;
	}
	.search_bar .autoSearchForm .dt_srch{
		border: 1px solid #000;
		text-align: center;
		height: 70px;
		font-size: 28px;
		width: 100%;
	}
	.search_bar input{
		width: 30%;
	}
	.search_bar button{
		height: 50px;
		width: 20%;
		font-size: 20px;
	}
	.eve_pan{
		width: 100%;
		height: 750px;
		overflow: auto;
	}
	.event{
		margin-bottom: 50px;
		width: 98%;
		height: 200px;
	}
	.event:hover{
		cursor: pointer;
	}
	.event img{
		width: 35%;
	}
	.eve_detail div{
		padding: 0 20px;
		width: 100%;
		height: 80%;
	}
	.eve_detail h3{
		margin-bottom: 10px;
		font-size: 28px;
	}
	footer{
		height: 75px;
	}
	footer .tablinks{
		border-bottom: 6px solid #fff;
	}
	footer .active_btn{
		border-bottom: 6px solid #1DCDA9;
		color: #1DCDA9;
	}


	/*what's on page*/
	.tab_header{
		padding-top: 20px;
		padding-bottom: 20px;
		width: 100%;
		height: 100px;
	}
	.tab_header .tab{
		width: 50%;
		height: 100%;
		border: none;
		color: #1DCDA9;
		float: left;
		font-size: 20px;
		background-color: white;
	}
	.tab_header .active_tab{
		background-color: #1DCDA9;
		color: white;
	}
	.table-wrapper{
		width: 100%;
		overflow: auto;
	}
	.table-wrapper table{
		width: 100%;
	}
	table thead{
		background-color: #1DCDA9;
		color: white;
	}
	table td, th{
		width: 33%;
		height: 80px;
		border-collapse: collapse;
		border: 1px solid white;
		text-align: center;
	}
	table tbody tr {
		border-color: #dddddd;
	}

	table tbody tr:nth-child(2n) {
		background-color: #fff;
	}

	/*chatting page*/
	header .contact{
		width: 25%;
		display: flex;
		justify-content: space-between;
	}
	footer .msg_inp{
		width: 100%;
		height: 100%;
	}
	.chatting_board{
		width: 100%;
		padding: 10px;
		height: 845px;
		/*overflow: auto;*/
	}
	.msg_inp .smile{
		color: #888;
		width: 13%;
		height: 100%;
		float: left;
	}
	.msg_inp .send{
		width: 15%;
		height: 100%;
		border: none;
		background-color: #1DCDA9;
		color: white;
		/*float: left;*/
		float: right;
	}
	.msg_inp input{
		width: 72%;
		height: 100%;
		padding-left: 19px;
		border: none;
		float: left;
	} 
	.msg_pan{
		width: 100%;
		padding: 20px 0;
		resize: vertical;
		overflow: auto;
	}
	.msg_pan .user_info{
		width: 80px;
		float: left;
		text-align: center;
	}
	.msg_pan .user_info img{
		width: 80px;
		height: 80px;
		border-radius: 50%;
	}
	.msg_container{
		width: 60%;
		float: left;
		margin: 0 50px;
	}
	.testimonial-left {
	    width: auto;
	    padding: 10px;
	    background: white;
	    border-radius: 10px;
	    display: table;
	    position: relative;
		box-shadow: 5px 5px 5px #888;
		word-break: break-all;
	}
	.testimonial-left p {
		display: table-cell;
		vertical-align: middle;
		padding: 5px 30px;
		white-space: pre-wrap;
	}
	.testimonial-left:before {
	    content: '';
	    left: -15px;
	    height: 0px;
	    width: 0px;
	    border-top: 15px solid transparent;
	    border-right: 15px solid white;
	    border-bottom: 15px solid transparent;
	    position: absolute;
	}
	.testimonial-right {
	    width: auto;
	    padding: 10px;
	    background: #1DCDA9;
	    border-radius: 10px;
	    display: table;
	    position: relative;    
		box-shadow: 5px 5px 5px #888;
		word-break: break-all;
	}
	.testimonial-right p {
		display: table-cell;
		vertical-align: middle;
		padding: 5px 30px;
		white-space: pre-wrap;
	}
	.testimonial-right:before {
	    content: '';
	    right: -15px;
	    height: 0px;
	    width: 0px;
	    border-top: 15px solid transparent;
	    border-left: 15px solid #1DCDA9;
	    border-bottom: 15px solid transparent;
	    position: absolute;
	}
	.msg_pan .user_right{
		float: right;
	}
	.time_right{
		display: flex;
		align-items: flex-end;
	}

	#chat_right{
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}
	/*login page*/
	.login_info{
		width: 80%;
		margin: auto;
		height: 800px;
		margin-top: 100px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}
	.login_info .title{
		font-size: 60px;
		margin-bottom: 30px;
		color: #1DCDA9;
	}

	.login_info .dcr{
		font-size: 30px;
	}
	.login_info form input{
		width: 100%;
		padding: 0 5%;
		border: 1px solid #888;
		margin-top: 30px;
		height: 50px;
	}
	.login_info .login_btn{
		width: 100%;
		height: 50px;
		margin-top: 40px;
		background-color: #1DCDA9;
		color: white;
	}
	.login_info .fb_btn{
		width: 100%;
		height: 50px;
		background-color: #3B5999;
		color: white;
	}
	.login_info span{
		width: 100%;
		height: 50px;
		margin-top: 100px;
		display: flex;
		justify-content: space-between;	
	}
	.login_info span a{
		text-decoration: none;
		color: black;
	}
	.red_btn{
		width: 80px;
		height: 80px;
		border-radius: 50%;
		background-color: #DD111C;
		position: absolute;
		display: flex;
	    justify-content: center;
	    align-items: center;    
		box-shadow: 5px 5px 5px #888;
	}
	.on_chat{
		top: 820px;
	    right: 100px;
	}
	
	.on_what{
		top: 880px;
	    right: 60px;
	}
	.diplay_tab{
		width: 50%;
		height: 100%;
		float: left;
		display: block;
		border: 5px solid #eee;
	}
	.event_tab{
		width: 100%;
		border: none;
	}
	.chat_tab{
		width: 100%;
		display: none;
	}
	.fa-long-arrow-left{
		visibility: visible;
	}
}

@media screen and (max-width: 450px) {
	.login_info .title{
		font-size: 40px;		
	}
	.login_info .dcr{
		font-size: 20px;
	}
	.login_info{
		height: 500px;
	}
	.login_info span{
		margin-top: 30px;
	}
	.login_info .login_btn{
		margin-top: 10px;
	}
	*{
		font-size: 14px;
	}
	.login_info .title{
		margin-bottom: 10px;
	}
	.login_info form input{
		margin-top: 10px;
	}
	header h1{
		font-size: 28px;
	}
	.tab_header .tab{
		font-size: 14px;
	}
	.tab_header{
		height: 80px;
	}
	table td, th{
		height: 80px;
	}
	.on_what{
		top: 600px;
	    right: 30px;
	}
	.table-wrapper{
		height: 400px;
	}
	.search_bar button{
		height: 30px;
		font-size: 12px;
		margin-top: 2px;
	}
	.search_bar input{
		width: 25%;
		font-size: 12px;
	}

	.event{
		height: 120px;	
	}
	.eve_detail h3{
		font-size: 18px;
		margin-bottom: 0;
	}
	.eve_detail p{
		margin-bottom: 5px;
	}
	.container{
		min-height: 556px;
	}
	.on_event{
		top: 620px;
	}
	.eve_pan{
		height: 470px;
	}
	.msg_container{
		margin: 0 20px;
	}
	.on_chat{
		top: 560px;
		right: 30px;
	}
}
